@using Food.Core
@model Restaurant

<div class="card">
	<div class="card-body">
		<h5 class="card-title">@Model.Name</h5>
		<p class="card-text">@Model.Location</p>
		<p class="card-text">@Model.Cuisine</p>
	</div>
	<div class="card-footer">
		<a class="btn btn-lg" asp-page="./Detail" asp-route-restaurantId="@Model.Id">
			<i class="fa fa-search-plus"></i>
		</a>

		<a class="btn btn-lg" asp-page="./Edit" asp-route-restaurantId="@Model.Id">
			<i class="fa fa-edit"></i>
		</a>

		<a class="btn btn-lg" asp-page="./Delete" asp-route-restaurantId="@Model.Id">
			<i class="fa fa-trash"></i>
		</a>
	</div>
</div>